* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: JetbrainsMono Nerd Font;
}

::selection {
    background: #292929;
    text-shadow: none;
}

body {
    background-color: #2e1d36;

    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */

    min-height: 100vh;
}

/*#2e1d36*/
/*#121212*/
/*1d1d1d*/
header {
    background-color: #462c52;
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    margin: 10px;
    width: 95%;
    border-radius: 25px;
}

header span {
    font-family: JetbrainsMono Nerd Font;
    color: white;
    font-weight: 200;
}

header span:hover {
    color: pink;
    font-weight: bold;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #462c52;
    padding: 10px;
    right: 0;
    color: white;
}

.discord {
    text-align: right;
}

.discord a {
    color: white;
}

.discord a:hover {
    color: pink;
}

a {
    color: #ffff;
    text-decoration: none;
}

main {
    padding-top: 100px;
    padding-bottom: 220px;
    color: white;
    text-align: center;
    align-content: center;
    align-self: center;
    align-items: center;
}

.main {
    background-color: #462c52;
    width: 100%;
    color: white;
    border-radius: 10px;
    padding: 50px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 25px;
}

.Partners {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer p {
    font-size: 10px;
    padding: 5px;
}

.sub {
    font-size: large;
    font-weight: bolder;
    background-color: pink;
    color: #462c52;
    padding: 5px;
    border-radius: 25px;
    margin: 5px;
}

.sub:hover {
    background-color: #462c52;
    color: pink;
}

.content a {
    background-color: #2e1d36;
    color: white;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}